
<%= form_with(model: @user, local: true, :url => { :controller => :profiles, :action => :update }, method: :post)  do |form| %>
  
  <div class="field">
    <%= form.label :postal_code %>
    <%= form.text_field :postal_code %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_area :address %>
  </div>

  <div class="field">
    <%= form.label :self_introduction %>
    <%= form.text_field :self_introduction %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

