<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @report.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @report.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @report.body %>
</p>
<%= link_to 'Back', reports_path %>
<% if @report.user_id == current_user.id%>
  | <%= link_to 'Edit', edit_report_path(@report) %>
  | <%= link_to 'Destroy', @report, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

