<p>
  <strong>User:</strong>
  <%= @report.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @report.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @report.body %>
</p>
<%= link_to 'Back', reports_path %>
<% if @report.user_id == current_user.id%>
  | <%= link_to 'Edit', edit_report_path(@report) %>
  | <%= link_to 'Destroy', @report, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<% @comments = @report.comments.eager_load(:user)%>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Comment</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.user.name%></td>
        <td><%= comment.comment %></td>
        <% if comment.user_id == current_user.id%>
          <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_with(model: comment = Comment.new, local: true) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :commentable_type, value: 'Report' %>
  <%= form.hidden_field :commentable_id, value: @report.id %>
  <div class="field">
    <%= form.label :comment %>
    <%= form.text_field :comment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
